.tickets-wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.table th, .table td {
    white-space: nowrap;
}

    .table td .badge {
        min-width: 80px;
        display: inline-block;
        text-align: center;
    }
